* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
html,
body {
  display: grid;
  height: 100%;
  text-align: center;
  place-items: center;
  background: #dde6f0;
}
.circular {
  height: 100px;
  width: 100px;
  /* background-color: red; */
  position: relative;
  transform: scale(2);
  > .inner {
    /* display: none; */
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: #dde6f0;
    border-radius: 100%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  }
  >.numb{
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    font-size: 18px;
    color: #4158d0;
  }
  .circle {
    .bar {
      position: absolute;
      height: 100%;
      width: 100%;
      background: #fff;
      border-radius: 100%;
      clip: rect(0px, 100px, 100px, 50px);
      > .progress1 {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        clip: rect(0px, 50px, 100px, 0px);
        background: #4158d0;
      }
      > .progress2 {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 100%;
        clip: rect(0px, 50px, 100px, 0px);
        background: #4158d0;
      }
    }
    .left .progress1{
        z-index: 1;
        animation: left 2.5s linear both;
    }
    .right{
        z-index: 3;
        transform: rotate(180deg);
    }
    .right .progress2{
        animation: right 2.5s linear both;
        animation-delay: 2.5s;
    }
  }
}
@keyframes left{
    100%{
        transform: rotate(180deg);
    }
}
@keyframes right{
    100%{
        transform: rotate(180deg);
    }
}